<div class="container">
  <div class="row"></div>
    <h1 class="page-header">Explore Springfield</h1>
  <div class="row">

    <div class="col-md-3 sidebar">
      <h2 class="sub-header">Characters</h2>
      <ul id="character-list">
        <li>foo</li>
        <li>bar</li>
        <li>baz</li>
        <li>quux</li>
      </ul>
    </div>

    <div class="col-md-9">
      <div class="row info-section">

        <div id="selected-character">
          <div class="col-md-4">
            <img src="/assets/otto_mann.png">
          </div>
        </div>

        <div class="col-md-8">
          <h3>Otto Mann</h3>
          <ul>
            <li>3 first degree connections</li>
            <li>7 second degree connections</li>
            <li>no third degree connections</li>
          </ul>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-md-6">
          chart here
          <div id="hive"></div>
        </div>
        <div class="col-md-6">
          quick info here
          <div id="quick-info"></div>
        </div>
      </div>
    </div>
  </div>
</div>
