<div class="container">
  <div class="row"></div>
    <h1 class="page-header">Explore Springfield</h1>
  <div class="row">

    <div class="col-md-2 sidebar">
      <h3 class="sub-header">Characters</h3>
      <div class="row" id="character-list">
      </div>
    </div>

    <div class="col-md-10">
      <div id="selected-character" class="row"></div>
      <hr />
      <div class="row">
        <div class="col-md-7">
          <h4 class="hive-name"><span id="hive-name"></span>'s Connections</h4>
          <div id="hive"></div>
        </div>

        <div class="col-md-5">
          <div id="quick-info">
            <div class="row">
              <div class="col-md-4">
                <img src="/assets/krusty_the_clown.png">
              </div>
              <div class="col-md-8">
                <h4>Krusty the Clown</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script id="character-list-view" type="text/template">
  <div class="row">
    <div class="col-md-3">
      <img src="{{= image_url }}" />
    </div>
    <div class="col-md-9">
      <p>{{= name }}<p>
    </div>
  </div>
</script>

<script id="character-top-view" type="text/template">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <img src="{{= image_url }}" />
  </div>

  <div class="col-md-8">
    <h3>{{= name }}</h3>
    <ul>
      <li>
        {{= firsts }}
        first degree connection{{ if (firsts !== 1) { }}s{{ } }}
      </li>
      <li>
        {{= seconds }}
        second degree connection{{ if (seconds !== 1) { }}s{{ } }}
      </li>
      <li>
        {{= thirds }}
        third degree connection{{ if (thirds !== 1) { }}s{{ } }}
      </li>
    </ul>
  </div>
</script>

<script id="character-hive-view" type="text/template"></script>
