<div class="container">
  <div class="row"></div>
    <h1 class="page-header">Explore Springfield</h1>
  <div class="row">

    <div class="col-md-3 sidebar">
      <h2 class="sub-header">Characters</h2>
      <ul id="character-list">
        <li>foo</li>
        <li>bar</li>
        <li>baz</li>
        <li>quux</li>
      </ul>
    </div>

    <div class="col-md-9">
      <div class="row info-section">
        <div class="col-md-12">
          selected character info here
          <div id="selected-character"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          chart here
          <div id="hive"></div>
        </div>
        <div class="col-md-6">
          quick info here
          <div id="quick-info"></div>
        </div>
      </div>
    </div>
  </div>
</div>
