//= require_self
//= require_tree .

@import "bootstrap-sprockets";
@import "bootstrap";

.page-header {
  text-align: center;
}

.hive-name {
  position: absolute;
}

.node-selected {
  background-color: red;
}
