//= require_self
//= require_tree .

@import "bootstrap-sprockets";
@import "bootstrap";

.page-header {
  text-align: center;
}

.hive-name {
  position: absolute;
}

.node {
  &:hover {
    cursor: pointer;
  }
}

.character-list {
  &:hover {
    cursor: pointer;
    color: skyblue;
  }
}
